@import "./_vars";

nav {
  @include flex(center, space-between);
  gap: 1rem;
  & div {
    @include flex;
    gap: 1rem;
  }
}

.link {
  display: flex;
  justify-content: center;
  color: $green;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.01rem;
  transition: all 150ms;
  border: none;
  text-transform: capitalize;
  background: transparent;
  text-decoration: none;
  :has(&) {
    text-decoration: none;
  }

  & > * {
    color: $green;
    text-decoration: none;
  }

  &.button {
    background: $green;
    color: white;
    padding: 0.7rem 1rem;
    width: 100%;
    border: 1px solid $green;
    border-radius: 1.5rem;
    & > * {
      color: white;
    }

    &:hover {
      & > * {
        color: $green;
      }
    }
  }

  &:hover {
    & > * {
      color: $text-clr;
    }
  }

  &.button:hover {
    color: $green;
    background: transparent;
  }
}

footer {
  background: $clr-dark;
  color: white;
  padding: 0.3rem 1rem;
  text-transform: capitalize;
  z-index: 101;
  position: relative;
  @include flex(center, space-between);

  & > .footer-logo {
    @include flex(center, start);
    gap: 1rem;
  }

  & > .footer-logo + * {
    @include flex;
    gap: 1rem;
    color: $green;
    text-decoration: none;
  }

  & a {
    color: inherit;

    &:hover {
      color: lighten($green, 30);
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem;
  }
}
[data-speciallink] {
  width: 100%;
  color: $text-clr;
  font-weight: 300;
  font-size: 0.8rem;
  &:hover {
    color: lighten($text-clr, 40);
  }
}
