@import "./_vars";
.model-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.402);
}
.pop-up {
  --width : 90%;
  --height : 90%;
  position: absolute;
  z-index: 10;
  width: var(--width);
  height: var(--height);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border: none;
  background: red;
}