@import "./_mixins";

.tasks-page {
  background: getImage("tasks-page-background");
  min-height: 100%;
  display: flex;
  align-items: stretch;

  & nav {
    padding: 0.5em 1em;
  }

  .side-nav {
    position: sticky;
    top: 0;
    transition: min-width 300ms, max-width 300ms;

    &.nav-closed {
      min-width: 3rem;
      max-width: 3rem;
    }

    font-size: 14px;
    background: white;
    max-width: 50%;
    min-width: 280px;
    min-height: 100vh;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
    @include flex(start, start);
    flex-direction: column;
    padding: 1em;
    gap: 2em;

    z-index: 1;

    .head-section {
      & > div > svg {
        transition: all 250ms;
        padding: 0.01em;
        border-radius: 0.1em;
        font-size: 2em;

        &:hover {
          background: #99999940;
        }
      }
    }

    &-item {
      @include flex(center, start);
      gap: 1em;
      width: 100%;
    }
  }

  .drop-down {
    @include flex(start, start);
    width: 100%;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden;

    &-head {
      @include flex(center, start);

      font: {
        size: 1.2em;
        weight: 700;
      }

      gap: 0.6em;
    }

    &-body {
      @include flex(stretch, start);
      flex-direction: column;
      width: 100%;

      &:hover > * {
        opacity: 0.2;
      }

      & > div {
        @include flex(center, space-between);
        padding: 0.3em 1.5em;

        &:nth-child(even) {
          background: #99999905;
        }

        &:hover {
          opacity: 1;
        }

        font-weight: 600;

        & input {
          width: 100%;
        }
        & > .buttons {
          @include flex;
          gap: 0.5em;
          font-size: 1.3em;
          & > div:nth-child(2) {
            &:hover {
              color: $red;
            }
          }

          & > div {
            &:hover {
              color: $green;
              transform: scale(1.1);
            }

            transition: all 250ms;
            padding: 0.1em;
          }
        }
      }
    }
  }
}

button,
.button {
  cursor: pointer;
}

.toggle-width {
  height: 2rem;
}

.todos-container {
  @include flex(stretch, stretch);
  padding: 1rem;
  gap: 1rem;
  flex-direction: column;
  width: 100%;

  & section {
    width: 100%;
  }

  & .task-head-section {
    font-size: 2rem;
    color: $green;
    font-family: $font-sec;
    text-align: center;
    font-weight: 100;
    letter-spacing: 3px;

    & span {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
  }

  & .task-filter-section {
    @include flex(stretch, stretch);
    flex-direction: column;

    & .filters {
      @include flex(center, space-between);
      padding: 0.5rem 2rem;
      background: hsl(0, 0%, 90%);
      gap: 1rem;

      & > div {
        width: 100%;
        height: 100%;
        @include flex(center, end);
      }

      & .filters-icons {
        @include flex(center, flex-start);
        gap: 1rem;
        font-size: 1.5rem;
      }

      & .add-todo-button {
        @include flex;
        gap: 0.5rem;
        background: none;

        & div.button {
          @include flex;
        }

        font-size: font(0.1rem, 1rem);
        font-weight: 600;
        outline: none;
        border: none;
        transition: all 300ms;

        &:hover {
          color: hsl(200, 100%, 40%);
        }

        & > *:not(span) {
          font-size: 1.3rem;
        }
      }
    }

    & input {
      padding: 0.7rem 1rem;
      width: 100%;
      background: $clr-dark;
      color: white;
      font-size: 1.1rem;
      border-radius: none;
      border: none;
      border: 3px solid transparent;
      transition: border 300ms;
      outline: none;

      &:hover,
      &:focus,
      &:active {
        border: 3px solid $green;
      }
    }
  }

  & .task-body-section {
    display: grid;
    gap: 1rem;

    &.grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .task-wrapper {
        height: 320px;
      }
    }
  }
}

.task-wrapper {
  --clr: $text-clr;
  color: var(--clr);

  & label {
    position: relative;

    & input {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      user-select: none;
    }
  }

  #category {
    background: transparent;
    outline: none;
    border: none;
    font-weight: 500;
    width: fit-content;
    font-size: 1rem;
  }

  @include flex(stretch, stretch);
  gap: 1rem;
  flex-direction: column;
  padding: 0.7rem 1rem;
  max-height: 300px;

  &-section {
    @include flex(center, space-between);
  }

  .head {
    font-size: large;

    & span {
      @include flex(center, stretch);
      gap: 0.5rem;

      &#category {
        // font-weight: 600;
      }
    }
  }

  .footer {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;

    & div {
      @include flex(center, stretch);
      gap: 1rem;
      font-size: medium;
    }
  }

  & .content {
    overflow-y: scroll;
    height: 100%;

    // height: 100px;
    & div {
      height: 100%;
      padding: 0.2rem;
    }
  }
}

.icon {
  transition: color 250ms;

  &:hover {
    box-shadow: 0 0 1px 1px black;

    &.icon-delete {
      $clr: $red;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-pin {
      $clr: $blue;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-eye {
      $clr: $blue;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-colorfill {
      $clr: $purple;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-bold {
      $clr: $orange;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-italic {
      $clr: $yellow;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-underline {
      $clr: $gold;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }

    &.icon-strike {
      $clr: $pink;
      border: 1px solid $clr;
      border-radius: 0.2rem;
    }
  }
}

.task-content-wrapper {
  width: 100%;
  height: 100%;
  outline: none;
  background: transparent;
  border: none;
  resize: none;
  color: inherit;
  line-height: 1.5;
}
.filter-name {
  margin-bottom: 0.4rem;
}
