@import "../sass/_mixins", "../sass/_vars";

.profile-container {
  position: relative;
}
section.profile {
  animation: show 200ms ease-in-out forwards;
  opacity: 0;
  $radius: 1rem;
  border-radius: $radius;
  position: absolute;
  z-index: 1000;
  top: calc(100% + 10px);
  right: 50%;
  background: $dark-teal;
  min-width: min(600px, 90vw);
  color: white;
  // overflow: hidden;
  letter-spacing: normal;
  & .wrapper {
    width: 100%;
    @include flex(stretch, stretch);
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.7rem;
  }
  & .profile-body {
    border-radius: 0 0 $radius $radius;
    background: $darker-teal;
    padding: 1rem 2rem;
  }
  & .p-btn {
    background: none;
    border: none;
    color: inherit;
    font-weight: 500;
    font-size: 1rem;
    @include flex(center, start);
    gap: 1rem;
    width: 100%;
    transition: opacity 300ms;
    &:hover {
      opacity: 0.5;
    }
  }
  & .profile-footer {
    border-top: 1px solid rgb(125, 125, 125);
    @include flex(center, start);
    padding: 1rem 2rem;
  }
  & .profile-head {
    @include flex(start, stretch);
    background: $darker-teal;
    border-radius: $radius $radius 0 0;
    flex-direction: column;
    padding: 1rem 2rem;
    width: 100%;
    & a {
      width: 90%;
      padding: 0.3rem 1rem;
      & .link {
        font-size: 0.7rem;
      }
      align-self: flex-end;
    }
  }
  & .profile-credentiels {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    gap: 0.2rem;
    & .user-name {
      font-weight: 600;
      text-transform: capitalize;
    }
    & .user-email {
      font-size: 13px;
      word-break: break-all;
      color: rgb(0, 255, 166);
    }
  }
  & .profile-infos {
    @include flex(center, start);
    gap: 1rem;
    font-size: 1rem;
    width: 100%;
    & .profile-img {
      isolation: isolate;
      width: 70px;
      aspect-ratio: 1;
      background: $green;
      border-radius: 100%;
      @include flex;
      & img {
        width: 100%;
      }
      position: relative;
      & span {
        position: absolute;
        inset: 0;
        @include flex;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        z-index: -1;
      }
    }
  }
}
.profileButton {
  @include flex;
  width: 2rem;
  aspect-ratio: 1;
  cursor: pointer;
  background: $green;
  border-radius: 100%;
  color: white;
  font-weight: bold;
  transition: opacity 250ms;
  &:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  section.profile {
    font-size: 10px;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
