$green: #00CB6A;
$green-light: #ffffff;
$burned-green : #52A47B;
$clr-dark: #1D2A24;
$dark-border : #B8B8B8;
$font-weight-light : 200;
$font-sec: 'Luckiest Guy';
$text-clr: #101010;
$whity-green : #ECFFF0;
$red : hsl(0, 100%, 39%);
$yellow : hsl(48, 100%, 50%);
$blue : hsl(212, 100%, 49%);
$pink : hsl(350, 100%,40%);
$orange : hsl(25, 100%, 50%);
$purple : hsl(272, 100%, 39%);
$gold : gold;
