$green: #00cb6a;
$green-light: #ecfff0;
$burned-green: #52a47b;
$clr-dark: #1d2a24;
$dark-border: #b8b8b8;
$dark-teal: #263238;
$font-weight-light: 200;
$font-sec: "Luckiest Guy";
$text-clr: #101010;
$whity-green: #ecfff0;
$red: hsl(0, 100%, 39%);
$yellow: hsl(48, 100%, 50%);
$blue: hsl(212, 100%, 49%);
$pink: hsl(350, 100%, 40%);
$orange: hsl(25, 100%, 50%);
$purple: hsl(272, 100%, 39%);
$gold: gold;
