@use "./_applogo";
@import "./_mixins", "./_popup", "./_nav", "./_vars", "./_scrollbar",
  "./_home-page", "./_auth-page", "./_tasks-page", "./_profile-page";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

:root {
  font-family: "Maven Pro", helvetica, sans-serif;
}

.fullHeight {
  height: 100vh;
}

::selection {
  background: $green;
  color: white;
}

::-moz-selection {
  background: $green;
  color: white;
}

img {
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: $green-light;
}

.not-found-page {
  @include flex;
  flex-direction: column;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  border: 4px solid black;
  border-radius: 50%;
  aspect-ratio: 1;
  color: white;
  font-size: 2rem;
  @include flex;
  background: $green;
  transition: opacity 250ms;

  & .button {
    @include flex;
  }

  &:hover {
    opacity: 0.7;
  }
}
